.card {
    width: 316px;
    height: 580px;
    margin-top: 80px;
    margin-left: 40px;
}

.card_img_top {
    width: 282px;
    height: 310px;
}

.img-avatar {
    height: 68px;
    width: 68px;
    border-radius: 68px;
}

.img {
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}