* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(asset/header\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    margin-top: 30px
}

h1>a {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
    letter-spacing: 2.8px;
    color: #ffff;
    text-decoration: none;
    padding-left: 44px;
}

.list, a {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    color: white;
    font-family: Kanit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
    text-decoration: none;
}

.contact-name {
    text-align: center;
    font-family: Orbitron;
    font-size: 48px;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: 0.96px;
    margin-top: 80px;
    margin-bottom: 100px;
  
}

.btn {
    display: flex;
    width: 485px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
}

#contact {
    display: flex;
    width: 150px;
    height: 40px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #6F4FF2;
    border-radius: 5px;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
    color: #ffff;
    cursor: pointer;
    border: none;
}

#connect {
    display: flex;
    width: 150px;
    height: 40px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
    color: #ffff;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(255,56,56,1) 0%, rgba(111,79,242,1) 100%);
    border: none;
}

.contact-body {
    display: flex;
    justify-content: center;
    background: linear-gradient(166deg, #6F4FF2 2.18%, #43328C 14.73%, #2D2357 51.85%, #1D1932 98.5%);
}

.drop >h4{
    flex-shrink: 0;
    color: var(--Text-color, #FFF);
    text-align: center;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.48px;
    margin-top: 50px;
}

.drop >h6{
    color: var(--Text-color, #FFF);
    text-align: center;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    letter-spacing: 0.32px;
    margin-top: 20px;
}

#social {
    display: flex;
    width: 459px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 30px;
    border: none;
    background: var(--primary-base, #6F4FF2);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    color: var(--Text-color, #FFF);
    text-align: center;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.48px;
}

.drop >p{
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    color: var(--Text-color, #FFF);
    font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 200% */
    letter-spacing: 0.36px;
    margin-top: 30px;
}

#assets{
    display: flex;
    width: 460px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 28px;
    border: 1px solid var(--grey-300, #A4A4A9);
    background: transparent;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    color: var(--Text-color, #FFF);
    text-align: center;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.48px;
}

#assets >img {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 0.781px 0px 0.678px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#assets >p{
    color: var(--Text-color, #FFF);
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    letter-spacing: 0.32px;
}

.signup{
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.4px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 100px;
}

span {
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #DC3546;
}






