body {
    margin: 0;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    height: 100vh;
   /* background: #ffffff;*/
    font-size: 24px;
}

.dashboard {
    background-image: url(./images/sidebar.png) !important;
    background-color: #1d0f52;
    background-size: 550px 1300px;
    background-repeat: no-repeat;
    outline: none;
    height: 1300px;
}

h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 50px auto;
}

.menu1 {
    margin-bottom: 100px;
    margin-top: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.menu1:hover {
    color: blueviolet;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.link1 {
    font-family: 'Kanit', sans-serif;
    color: white;
    margin-top: 20px;
}

.link1:hover {
    color: blueviolet;
}

.img {
    margin-left: 40px;
    margin-top: 150px;
    margin-bottom: 40px;
}
